*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}
body {
    background-color: #0a0a0a;
    text-align: center;
    padding-top: 28%;
}

h1 {
    font-size: 3rem;
    color: #ffffff;
    padding-bottom: 30px;
}
button{
    margin-right: 9px;
    padding: 8px;
    border-radius: 8px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

#increaseBtn{
    background-color: rgb(211, 45, 45);
    color: #ffffff;
    border: none;
}
#decreaseBtn{
    background-color: rgb(45, 211, 45);
    color: #ffffff;
    border: none;
}
#resetBtn{
    background-color: rgb(45, 45, 211);
    color: #ffffff;
    border: none;
}